#hero {
    height: 800px;
    background-image: url("/travel-page/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hero-content {
    width: 800px;
    background-color: rgba(37, 37, 37, 0.7);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
#hero-content p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
}
#hero-content a {
    margin-top: 30px;
    text-decoration: none;
    background-color: rgb(250, 178, 168);
    padding: 12px 24px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
}
#hero-content a:hover {
    background-color: rgb(255, 197, 189);
}
#highlight {
    padding: 24px;
    background: linear-gradient(0deg, rgb(255, 248, 227), rgb(243, 242, 202));
}
#highlight h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65, 64);
}
#destinations {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: row;
}
.destination {
    margin: 0 50px;
    text-transform: uppercase;
}
.destination p {
    text-align: center;
    font-size: 20px;
    color: rgb(124, 123, 123);
}
.destination img {
    height: 250px;
    width: 250px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}
